#interests-div {
    text-align: left;
    background-color: #1A1B21;
    margin-left: 490px;
    margin-right: 490px;
    color: white;
    margin-top: -10px;
    padding-top: 2px;
    padding-left: 30px;
    padding-bottom: 20px;
}
